.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;

  &__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);

    &___front {
      background-color: #fff;

      &:hover {
        transform: rotateY(-180deg);
      }
    }

    &___back {
      transform: rotateY(180deg);

      &:hover {
        transform: rotateY(0);
      }

      &___1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
      }

      &___2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
      }

      &___3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
      }
    }
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &___1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730),
        url("@images/nat-5.jpg");
    }

    &___2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485),
        url("@images/nat-6.jpg");
    }

    &___3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa),
        url("@images/nat-7.jpg");
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;

    &__span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      &___1 {
        background-image: linear-gradient(
          to right bottom,
          rgba(255, 185, 0, 0.85),
          rgba(255, 119, 48, 0.85)
        );
      }

      &___2 {
        background-image: linear-gradient(
          to right bottom,
          rgba(126, 213, 111, 0.85),
          rgba(40, 180, 133, 0.85)
        );
      }

      &___3 {
        background-image: linear-gradient(
          to right bottom,
          rgba(41, 152, 255, 0.85),
          rgba(86, 67, 250, 0.85)
        );
      }
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
    }

    ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem;
    }

    ul li:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price {
    &___box {
      text-align: center;
      color: #fff;
      margin-bottom: 8rem;
    }

    &___only {
      font-size: 1.4rem;
      text-transform: uppercase;
    }

    &___value {
      font-size: 6rem;
      font-weight: 100;
    }
  }
}
